
body {
padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}
.navbar-default .nav {
padding: 20px 0;
}
.navbar-default .navbar-brand {
padding: 0 15px;
}
@media(min-width:768px) {
body {
padding-top: 20px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}
.navbar-default .navbar-brand {
padding: 12px 10px;
margin-right:10px;
}
}